@media screen and (max-width: 767px) {
	.list {
		position: fixed;
        z-index: 1;
		left: 0px;
		top: 0px;
		display: flex;
		width: 100%;
		height: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: #000;
	}
	.wrap {
		width: 28rem;
		margin: auto auto 3.75rem;
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}
	.text{
		color: #fff;
		font-size: 2rem;
		line-height: 1.125;
		letter-spacing: -0.01em;
		margin-right: 0rem;
		margin-bottom: 1.25rem;
	}
}
@media screen and (max-width: 479px) {
	.list {
		width: 100%;
	}
}