.logo {
	width: 9.87rem;
}
.logo[data-view="white"] {
	display: none;
}
.logo:hover{
	cursor: pointer;
}
.logo[data-menu-white]{
	display: none;
}

@media screen and (max-width: 991px) {
	.logo{
		width: 8rem;
	}
    .logo[data-view="black"] {
		display: none;
	}
	.logo[data-view="white"] {
		display: block;
	}
}

@media screen and (max-width: 767px) {
    .logo {
		width: 7rem;
	}
	.logo[data-menu="false"] {
		display: none;
	}
	.logo[data-menu="true"] {
		display: block;
	}
}