.basket {
	position: fixed;
	top: 0%;
	right: 0px;
	z-index: 2;
	width: 32rem;
	height: 100%;
	padding: 2.25rem 3rem 2.75rem 2rem;
	background-color: #000; 
	/* -webkit-transform: translate(100%, 0px);
	-ms-transform: translate(100%, 0px);
	transform: translate(100%, 0px); */
	color: #fff;
}
.top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-bottom: 4.5rem;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.04em;
}
.top_txt {
	color: #fff;
	text-transform: uppercase;
}
.top_icon {
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.2s ease;
}
.top_icon:hover {
	color: #fff;
	cursor: pointer;
}
.list {
	display: -ms-grid;
	display: grid;
	grid-auto-columns: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 2.25rem;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}
.roll {
	overflow-y: scroll;
}
.roll::-webkit-scrollbar {
	display: none;
}
.bottom {
	position: absolute;
	left: 0px;
	bottom: 0%;
	width: 100%;
	margin-top: auto;
	background-color: #000;
	font-size: 1.5rem;
	line-height: 1.166;
}
.wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	padding-bottom: 8.5625rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.bottom_price {
	letter-spacing: -0.01em;
}
.bottom_box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 1.25rem;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-top: 0.0625rem solid #3c3c3c;
}
.bottom_btn {
	display: block;
	width: 100%;
	margin-top: 2rem;
	padding: 1rem 2rem;
	border-radius: 2.625rem;
	background-color: #fff;
	color: #000;
	font-size: 1.375rem;
	line-height: 1.181;
	text-align: center;
	letter-spacing: -0.01em;
	transition: color 0.2s ease, background-color 0.2s ease;
}
.bottom_btn:hover {
	cursor: pointer;
    color: white;
    background-color: #00C74F;
}
.empty_txt {
	font-size: 1.5rem;
	line-height: 1.333;
}

@media screen and (max-width: 991px) {
	.basket {
		width: 100%;
		padding-right: 3rem;
		padding-bottom: 2.5rem;
		padding-left: 3rem;
	}
	.bottom {
		font-size: 1rem;
		line-height: 1.1875;
	}
	.wrapper {
		width: 42rem;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 7.25rem;
	}
	.bottom_btn {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		font-size: 1.125rem;
		line-height: 1.166;
	}
	.empty_txt {
		font-size: 1.125rem;
	}
}

@media screen and (max-width: 767px) {
	.top {
		margin-bottom: 2.5rem;
	}
	.bottom {
		font-size: 0.875rem;
		line-height: 1.214;
		letter-spacing: -0.01em;
	}
	.wrapper {
		width: 100%;
	}
	.bottom_box {
		padding-top: 0.6875rem;
		font-size: 1rem;
		line-height: 1.1875;
	}
}

@media screen and (max-width: 479px) {
	.basket {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}
	.bottom {
		padding-right: 0rem;
		padding-left: 0rem;
	}
}