.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding-right: 3rem;
	padding-left: 3rem;
	background-color: #f8f8f8;
}
.wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 1.375rem;
	padding-bottom: 1.375rem;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #c4c4c4;
}
.basket {
	margin-left: auto;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	color: #000;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: uppercase;
}
.basket:hover{
	cursor: pointer;
}
.item {
	font-size: 1rem;
	line-height: 1.5;
	display: inline-block;
	margin-right: 1.75rem;
	color: #888;
	letter-spacing: 0.0625rem;
	text-decoration: none;
	transition: color 0.2s ease;
}
.item:hover{
	cursor: pointer;
	color: #000;
}
.logo_wrap {
	margin-right: 7.375rem;
}
.btn {
	display: none;
}

@media screen and (max-width: 991px) {
	.header {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	.wrap {
		width: 42rem;
		margin-right: auto;
		margin-left: auto;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}
	.logo_wrap {
		margin-right: 3.5rem;
	}
}

@media screen and (max-width: 767px) {
	.wrap {
		width: 26.5rem;
		padding-top: 1.25rem;
	}
	.list {
		position: fixed;
		left: 0px;
		top: 3rem;
		display: none;
		width: 100%;
		height: 95%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: #000;
		font-size: 2rem;
		line-height: 1.125;
	}
	.basket {
		margin-right: 1.5rem;
		font-size: 0.8125rem;
		line-height: 1.4;
	}
	.item {
		display: block;
		margin-right: 0rem;
		margin-bottom: 1.25rem;
		color: #fff;
		letter-spacing: -0.01em;
	}
	.logo_wrap {
		margin-right: 0rem;
	}
	.btn {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: 1.4rem;
		padding-top: 0.3875rem;
		padding-bottom: 0.3875rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		cursor: pointer;
	}
	.line {
		width: 2.25rem;
		height: 0.125rem;
		background-color: #000;
		transition: transform 0.3s ease, background-color 0.3s ease
	}
	.header[data-menu="true"]{
		background-color: #000;
	}
	.header[data-menu="true"] .basket{
		display: none;
	}
	.header[data-menu="true"] .wrap{
		border-bottom-color: #000;
	}
	.header[data-menu="true"] .btn{
		margin-left: auto;
	}
	.header[data-menu="true"] .line{
		background-color: #fff;
	}
	.header[data-menu="true"] .line:first-child {
		transform: translateY(4px) rotate(45deg);
	}
	.header[data-menu="true"] .line:last-child {
		transform: translateY(-4px) rotate(-45deg);
	}
}

@media screen and (max-width: 479px) {
	.wrap {
		width: 94%;
	}
	.list {
		display: none;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.basket {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}
}
