.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: #f8f8f8;
}

.header.header--order {
  border-bottom-style: none;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__emb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.375rem;
  padding-bottom: 2.125rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.125rem solid #c4c4c4;
}

.header__list {
  padding-top: 0.1rem;
  padding-bottom: 0px;
  font-size: 1rem;
  line-height: 1.5;
}

.container {
  position: relative;
  font-family: 'Helveticaneuecyr roman';
  color: #000;
  font-weight: 400;
}

.header__basket {
  cursor: pointer;
  margin-left: auto;
  padding-top: 0.875rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
}

.header__item {
  margin-right: 1.75rem;
  color: #888;
  letter-spacing: 0.0625rem;
  text-decoration: none;
}

.header__item.header__item--main {
  display: none;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 2.125rem;
  padding-bottom: 2.125rem;
  border-top: 0.125rem solid #c4c4c4;
  border-bottom: 0.125rem solid #c4c4c4;
  letter-spacing: -0.042em;
  text-transform: uppercase;
  white-space: nowrap;
}

.visually-hidden {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.shop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #666;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.shop__item.shop__item--first {
  margin-right: 16.25rem;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 6.25rem;
  margin-bottom: 5.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.preview_cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}

.preview__obj_wrap{
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  object-fit: cover;
}

.preview__obj {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 6.25rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 0.125rem solid #c4c4c4;
}

.desc__ad {
  margin-right: 17.6875rem;
  color: #666;
  font-size: 1.25rem;
  line-height: 1.5;
  text-transform: lowercase;
}

.desc__title {
  max-width: 33rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4rem;
  line-height: 1.0625;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.desc__text {
  margin-top: 1.5rem;
  color: #666;
  font-size: 0.875rem;
  line-height: 1.4285714285714286;
}

.desc__btn {
  padding: 0.7rem 1.75rem;
  border: 0.0625rem solid #000;
  border-radius: 2.625rem;
  background-color: rgba(56, 152, 236, 0);
  color: #000;
  font-size: 1.5rem;
  line-height: 1.2083333333333333;
  text-align: center;
  letter-spacing: -0.01em;
}

.catalog {
  padding-top: 6.25rem;
  padding-bottom: 0rem;
  border-bottom: 0.125rem solid #c4c4c4;
}

.catalog__title {
  margin-top: 0px;
  margin-bottom: 5rem;
  color: #666;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  text-transform: lowercase;
}

.catalog__list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.catalog__item {
  color: #000;
  text-decoration: none;
}

.catalog__image {
  width: 100%;
  object-fit: cover;
}

.catalog__text-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.catalog__name {
  max-width: 18rem;
  font-size: 1.5rem;
  line-height: 1.3333333333333333;
}

.catalog__desc {
  margin-top: 0.5rem;
  color: #666;
  font-size: 0.875rem;
  line-height: 1.4285714285714286;
}

.catalog__cost,
.catalog__soldout {
  margin-top: 2rem;
  letter-spacing: -0.01em;
  color: #666;
  font-size: 1rem;
}

.catalog__soldout {
  color: #FF6A00;
  font-weight: 800;
  display: none;
}

.bio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
  border-bottom: 0.125rem solid #c4c4c4;
}

.bio__image-wrap {
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.bio__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bio__image {
  width: 100%;
}

.bio__text {
  font-size: 3rem;
  line-height: 1.0625;
}

.bio__link {
  margin-top: auto;
  border-bottom: 0.0625rem solid #616263;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.7142857142857142;
  letter-spacing: 0.0625rem;
  text-decoration: none;
}

.collection {
  padding-top: 5.375rem;
  padding-bottom: 8.75rem;
}

.collection__title {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 7.75rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.collection__title-grey {
  display: block;
  color: #666;
}

.collection__subtext {
  color: #666;
}

.collection__cont {
  position: relative;
  margin-top: 5rem;
}

.collection__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.collection__item {
  width: 100%;
  margin-right: 0.75rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.collection__image {
  width: 100%;
}

.collection__text-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

.collection__desc {
  width: 59.125rem;
  margin-right: 6.125rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 4rem;
  line-height: 1.0625;
}

.collection__text {
  max-width: 32.9rem;
  padding-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.4;
}

.controls {
  position: absolute;
  right: 0rem;
  bottom: 35rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7.875rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.controls__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.6875rem;
  min-height: 1rem;
  cursor: pointer;
}

.footer {
  width: 100%;
  margin-top: auto;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  border-top: 0.125rem solid #c4c4c4;
  color: #666;
  font-size: 1.25rem;
  line-height: 1.5;
}

.footer.footer--desc-hide {
  display: none;
}

.footer__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3rem;
  padding-left: 3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copyright {
  text-transform: lowercase;
}

.footer__mail {
  margin-left: 31.25rem;
  color: #666;
  text-decoration: none;
}

.footer__link {
  margin-left: 16.4375rem;
  color: #666;
  text-decoration: none;
}

.footer__selector {
  margin-left: auto;
}

.footer__rus {
  cursor: pointer;
}

.footer__eng {
  cursor: pointer;
}

.basket {
  position: fixed;
  top: 0%;
  right: 0px;
  z-index: 2;
  width: 32rem;
  height: 100%;
  padding: 2.25rem 3rem 2.75rem 2rem;
  background-color: #000;
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
  color: #fff;
}

.basket__name-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 5.375rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.basket__name {
  color: #fff;
  text-transform: uppercase;
}

.basket__close-btn {
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
}

.basket__list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 2.25rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.basket__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2.25rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 0.0625rem solid #3c3c3c;
}

.basket__image {
  width: 7.75rem;
  height: 7.75rem;
  object-fit: cover;
  margin-right: 1.5rem;
}

.basket__main-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.basket__title {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.1666666666666667;
  font-weight: 400;
}

.basket__desc {
  margin-bottom: 1.25rem;
  color: #666;
  font-size: 0.8125rem;
  line-height: 1.5384615384615385;
}

.basket__cost {
  font-size: 1rem;
  line-height: 1.1875;
}

.basket__delete {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-bottom: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(56, 152, 236, 0);
  cursor: pointer;
}

.basket__footer {
  position: absolute;
  left: 0px;
  bottom: 0%;
  width: 100%;
  margin-top: auto;
  background-color: #000;
  font-size: 1.5rem;
  line-height: 1.1666666666666667;
}

.basket__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 8.5625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.basket__total {
  letter-spacing: -0.01em;
}

.basket__cost-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.25rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 0.0625rem solid #3c3c3c;
}

.basket__footer-btn {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 2.625rem;
  background-color: #fff;
  color: #000;
  font-size: 1.375rem;
  line-height: 1.1818181818181819;
  text-align: center;
  letter-spacing: -0.01em;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  margin-top: 6rem;
  padding-top: 2.25rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card__left {
  position: -webkit-sticky;
  position: sticky;
  top: 8.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  margin-right: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.card__small-img {
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.card__container {
  padding-bottom: 2rem;
}

.card__item {
  margin-bottom: 1.25rem;
}

.card__right {
  position: -webkit-sticky;
  position: sticky;
  top: 8.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-left: 7.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  line-height: 1.7142857142857142;
  letter-spacing: 0.0625rem;
  text-decoration: none;
}

.card__text-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.card__emb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.75rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.card__info {
  margin-top: auto;
}

.card__title {
  max-width: 45rem;
  margin-top: 0px;
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.0625;
  font-weight: 400;
}

.card__desc {
  max-width: 23.0625rem;
  font-size: 0.875rem;
  line-height: 1.4285714285714286;
}

.card__btn {
  width: 21.9375rem;
  padding: 0.8125rem 1.75rem;
  border: 0.0625rem solid #000;
  border-radius: 2.625rem;
  background-color: rgba(56, 152, 236, 0);
  color: #000;
  font-size: 1.125rem;
  line-height: 1.1666666666666667;
  text-align: center;
  letter-spacing: -0.01em;
}

.card__cost-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  line-height: 1.2083333333333333;
  letter-spacing: -0.01em;
}

.card__track {
  display: none;
  color: #FF6A00;
}

.card__btn-wrap {
  margin-top: auto;
  margin-bottom: 3rem;
}

.card__soldout {
  display: none;
  font-size: 0.875rem;
  line-height: 1.4285714285714286;
}

.basket__full.basket__full--order {
  margin-bottom: auto;
}

.basket__empty {
  display: none;
}

.basket__text {
  font-size: 1.5rem;
  line-height: 1.3333333333333333;
}

.order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-top: 3.125rem;
  margin-bottom: 3.4375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.order__title {
  margin-top: 0px;
  margin-bottom: 3rem;
  font-size: 4rem;
  line-height: 1.0625;
  font-weight: 400;
}

.order__text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.1666666666666667;
}

.order__form-wrap {
  margin-bottom: 0px;
}

.order__form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.order__field {
  width: 27rem;
  min-height: 3.25rem;
  margin-bottom: 0px;
  /* padding: 0.9rem 2rem 0.9rem 1.25rem; */
  padding: 1.1rem 2rem 0.9rem 1.25rem;
  border: 0.0625rem solid #9a9a9a;
  background-color: hsla(0, 0%, 100%, 0);
  color: #000;
  font-size: 1rem;
  /* line-height: 1.5; */
  line-height: 3;
}

.order__field:focus {
  border-color: #000;
}

.order__field::-webkit-input-placeholder {
  color: #666;
}

.order__field:-ms-input-placeholder {
  color: #666;
}

.order__field::-ms-input-placeholder {
  color: #666;
}

.order__field::placeholder {
  color: #666;
}

.header__link {
  margin-right: 7.375rem;
}

.header__emb--order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.order__info {
  margin-top: 3.75rem;
  margin-bottom: 5.25rem;
}

.order__subtitle {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.1666666666666667;
}

.order__desc {
  max-width: 27rem;
  margin-bottom: 0rem;
  color: #666;
  font-size: 0.875rem;
  line-height: 1.4285714285714286;
}

.order__cb-text {
  padding-top: 0.05rem;
}

.order__cb-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #666;
  font-size: 0.875rem;
  line-height: 1.4285714285714286;
  text-transform: lowercase;
  cursor: pointer;
}

.order__checkbox {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 0.0625rem solid #666;
}

.order__link {
  display: inline-block;
  color: #666;
  text-decoration: underline;
}

.order__btn {
  width: 56rem;
  margin-top: 3.75rem;
  padding: 1rem 2rem;
  background-color: #9a9a9a;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  cursor: default;
}

.basket--order {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  width: 40%;
  height: 100%;
  padding: 9.125rem 3rem 2.75rem 7.25rem;
  background-color: #000;
  color: #fff;
}

.basket__name--order {
  margin-bottom: 5rem;
  color: #fff;
  font-size: 4rem;
  line-height: 1.0625;
  text-transform: capitalize;
}

.basket__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #9a9a9a;
  font-size: 1rem;
  line-height: 1.1875;
}

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.5625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.info__link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.body {
  background-color: #f8f8f8;
}

.info__text {
  max-width: 52.5625rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.0625;
}

.info__subtext {
  max-width: 23.0625rem;
  color: #9a9a9a;
  font-size: 0.875rem;
  line-height: 1.4285714285714286;
}

.info__mail-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: 2.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.container--info {
  position: relative;
  height: 100vh;
  font-family: 'Helveticaneuecyr roman';
  color: #000;
  font-weight: 400;
}

.info__coop {
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 0.875rem;
  line-height: 1.4285714285714286;
}

.link {
  text-align: right;
}

.info__mail {
  color: #000;
  font-size: 1.8rem;
  padding: 0.5rem 0;
  font-weight: 600;
  line-height: 1.0625;
  text-decoration: none;
}

.header__btn {
  display: none;
}

.catalog__mobile-img,
.catalog__video-mob {
  display: none;
}

.collection__prev {
  display: none;
}

.header__view-btn {
  display: none;
}

.order__delivery {
  display: none;
}

.basket__list--order {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 2.25rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.basket__wrapper--order {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 8.5625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.basket__footer--order {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: auto;
  background-color: #000;
  font-size: 1.5rem;
  line-height: 1.1666666666666667;
}

.basket__info--order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #9a9a9a;
  font-size: 1rem;
  line-height: 1.1875;
}

.collection__slider-container {
  margin-left: 3rem;
}

.card__mail {
  color: #000;
  text-decoration: none;
}

.selector__theme {
  display: none;
  width: 4.2rem;
  height: 2.1rem;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 6.25rem;
  background-color: #000;
}

.selector__theme.selector__theme--order {
  margin-left: 0rem;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.preview__link {
  color: #000;
  text-decoration: none;
}

.mok {
  display: none;
}

.basket-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: none;
  width: 100%;
  height: 100%;
}

.order__checkbox-svg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.order__btn-text {
  display: inline;
}

.order__btn-wrap {
  display: none;
}

.basket__signs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1.25rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.basket__plus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0.75rem;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  cursor: pointer;
}

.basket__minus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0.75rem;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  cursor: pointer;
}

.basket__number-good {
  height: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: -0.01em;
  cursor: default;
}

.basket__group-cost {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.basket__title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.basket__desc-wrap {
  max-width: 15rem;
}

.footer__wrap--order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3rem;
  padding-left: 3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}



.case {
  padding-top: 5rem;
}

.case_box {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
  padding-bottom: 7.5rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 2px solid #c4c4c4;
}

.case_txt {
  max-width: 46rem;
  margin-top: 0.5rem;
  margin-bottom: 0px;
  font-family: 'Helveticaneuecyr roman';
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.2rem;
  line-height: 1.4;
}

.case_head {
  max-width: 60rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Helveticaneuecyr roman';
  color: #000;
  font-size: 7.75rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.case_img_main {
  display: block;
  width: 100%;
  margin-top: 3.75rem;
}

.case_img_min {
  display: block;
  width: 100%;
  margin-top: 0rem;
}

.case_p {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.case_p_head {
  margin-bottom: 0px;
  font-family: 'Helveticaneuecyr roman';
  color: #666;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.case_p_block {
  display: -ms-grid;
  display: grid;
  margin-top: 5rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.case_p_img {
  width: 100%;
  object-fit: cover;
}

.case_p_itm {
  text-decoration: none;
}

.case_p_txt {
  margin-top: 1rem;
  margin-bottom: 0px;
  font-family: 'Helveticaneuecyr roman';
  color: #000;
  font-size: 1.2rem;
  line-height: 1.3;
}

.case_desc {
  margin-top: 0.2rem;
  margin-bottom: 0px;
  font-family: 'Helveticaneuecyr roman';
  color: #666;
  font-size: 0.85rem;
  line-height: 1.42;
}

.news {
  padding-top: 6.25rem;
}

.news_anhor {
  margin-top: 2rem;
  color: #9a9a9a;
  font-size: 1.25rem;
  line-height: 1.875;
}

.news_block_case {
  display: -ms-grid;
  display: grid;
  margin-top: 3.125rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.buttonp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.buttonp_txt {
  margin-bottom: 0px;
  border-bottom: 1px solid #000;
  opacity: 0.55;
  font-size: 1rem;
  line-height: 1;
}

.case_p_img_wr {
  overflow: hidden;
}

.desc__main_itm {
  display: none;
}

.desc__main_itm[state="enable"] {
  display: block;
}



@media screen and (max-width: 991px) {
  .header {
      padding-right: 0rem;
      padding-left: 0rem;
  }
  .header.header--order {
      z-index: 2;
      background-color: #000;
  }
  .wrapper {
      width: 46rem;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 2rem;
      padding-left: 2rem;
  }
  .header__wrap {
      width: 42rem;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
  }
  .header__list {
      padding-top: 0.5rem;
  }
  .header__basket {
      padding-top: 0.5rem;
  }
  .main {
      padding-top: 5rem;
  }
  .main.main--order {
      padding-top: 0rem;
  }
  .main-title {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 5.9rem;
  }
  .shop__item {
      margin-right: 4rem;
  }
  .preview {
      margin-top: 3rem;
      margin-bottom: 4.25rem;
  }
  .desc {
      padding-bottom: 4.25rem;
  }
  .desc__ad {
      margin-right: 3rem;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
  }
  .desc__main {
      margin-right: auto;
  }
  .desc__title {
      max-width: 23rem;
      font-size: 2.75rem;
  }
  .desc__text {
      margin-top: 1.25rem;
  }
  .catalog {
      padding-top: 2rem;
      padding-bottom: 0rem;
  }
  .catalog__title {
      margin-bottom: 2.75rem;
      font-size: 1rem;
  }
  .catalog__list {
      grid-column-gap: 1.2rem;
      grid-row-gap: 2.7rem;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  }
  .catalog__text-group {
      margin-top: 1.5rem;
  }
  .catalog__cost {
      margin-top: 1.5rem;
  }
  .bio {
      padding-top: 4.75rem;
      padding-bottom: 4.75rem;
  }
  .bio__image-wrap {
      width: 44%;
  }
  .bio__desc {
      width: 50%;
  }
  .bio__text {
      max-width: 23rem;
      font-size: 1.5rem;
      line-height: 1.1428571428571428;
  }
  .collection {
      padding-top: 4.25rem;
      padding-bottom: 4.75rem;
  }
  .collection__title {
      font-size: 4.5rem;
  }
  .collection__cont {
      margin-top: 2.5rem;
  }
  .collection__text-wrap {
      display: block;
      margin-top: 3rem;
  }
  .collection__desc {
      width: auto;
      max-width: 50rem;
      margin-right: 0rem;
      font-size: 2.5rem;
  }
  .collection__text {
      width: auto;
      max-width: 100%;
  }
  .controls {
      display: none;
  }
  .footer {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
  .footer__wrap {
      width: 48rem;
      margin-right: auto;
      margin-left: auto;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 0.9rem;
  }
  .footer__mail {
      margin-left: auto;
  }
  .footer__link {
      margin-left: auto;
  }
  .basket {
      width: 100%;
      padding-right: 3rem;
      padding-bottom: 2.5rem;
      padding-left: 3rem;
  }
  .basket__item {
      padding-bottom: 1.5rem;
  }
  .basket__image {
      width: 6.5rem;
      height: 6.5rem;
  }
  .basket__title {
      margin-bottom: 0.25rem;
      font-size: 1.125rem;
      line-height: 1.3333333333333333;
  }
  .basket__desc {
      margin-bottom: 0.75rem;
  }
  .basket__footer {
      font-size: 1rem;
      line-height: 1.1875;
  }
  .basket__wrapper {
      width: 42rem;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 7.25rem;
  }
  .basket__footer-btn {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 1.125rem;
      line-height: 1.1666666666666667;
  }
  .card {
      display: block;
      min-height: auto;
      margin-top: 5rem;
      padding-top: 0.5rem;
  }
  .card__left {
      display: none;
  }
  .card__container {
      width: 100%;
      padding-bottom: 0rem;
  }
  .card__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
  }
  .card__item {
      width: 92%;
      margin-right: 1rem;
      margin-bottom: 0rem;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  }
  .card__big-img {
      width: 100%;
  }
  .card__right {
      position: static;
      top: 0rem;
      width: 100%;
      margin-left: 0rem;
  }
  .card__link {
      display: none;
  }
  .card__info {
      margin-top: 1.5rem;
  }
  .card__title {
      max-width: 30rem;
      margin-bottom: 1rem;
      font-size: 2.5rem;
  }
  .card__desc {
      max-width: 35rem;
  }
  .card__cost-wrap {
      margin-bottom: 1.75rem;
  }
  .card__btn-wrap {
      margin-top: 2.25rem;
  }
  .basket__text {
      font-size: 1.125rem;
  }
  .order {
      width: auto;
      margin-top: 12rem;
      margin-bottom: 3.75rem;
  }
  .order__title {
      margin-bottom: 2rem;
      font-size: 2.5rem;
  }
  .order__form-wrap {
      width: 100%;
  }
  .order__form {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }
  .order__field {
      width: 100%;
  }
  .header__link {
      margin-right: 3.5rem;
  }
  .order__info {
      margin-top: 2.25rem;
      margin-bottom: 2.25rem;
  }
  .order__btn {
      width: 100%;
      margin-top: 2.5rem;
  }
  .basket--order {
      left: 0px;
      z-index: 1;
      width: auto;
      height: auto;
      padding-top: 8rem;
      padding-right: 0rem;
      padding-left: 0rem;
  }
  .basket--order.basket-translate {
      margin-top: -17.1rem;
  }
  .basket__name--order {
      display: none;
      margin-bottom: 2rem;
      font-size: 2.5rem;
  }
  .info {
      padding-top: 2rem;
  }
  .info__link-wrap {
      display: none;
  }
  .info__text {
      max-width: 32rem;
      font-size: 2.25rem;
  }
  .info__mail-group {
      margin-top: auto;
  }
  .container--info {
      height: 100vh;
  }
  .info__mail-text {
      font-size: 2.4rem;
  }
  .header__view-btn {
      display: block;
      margin-left: auto;
      color: #666;
      font-size: 1rem;
      line-height: 1.8461538461538463;
      text-decoration: none;
      text-transform: uppercase;
  }
  .basket__wrapper--order {
      width: 46rem;
      margin-right: auto;
      margin-left: auto;
      padding-right: 2rem;
      padding-left: 2rem;
  }
  .basket__footer--order {
      padding-top: 1rem;
      padding-right: 2rem;
      padding-left: 2rem;
      font-size: 1rem;
      line-height: 1.1875;
  }
  .card__mail {
      color: #000;
      text-decoration: none;
  }
  .selector__theme {
      width: 3.5rem;
      height: 1.8rem;
  }
  .selector__theme.selector__theme--order {
      margin-top: 1rem;
  }
  .header__lines-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .footer__wrap--order {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 0.9rem;
  }
  .case {
      padding-top: 4rem;
  }
  .case_box {
      margin-top: 1.2rem;
      padding-bottom: 4rem;
      grid-column-gap: 0rem;
      grid-row-gap: 1.2rem;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }
  .case_head {
      font-size: 4.5rem;
  }
  .case_img_main {
      margin-top: 2rem;
  }
  .case_p {
      padding-top: 2rem;
      padding-bottom: 4rem;
  }
  .case_p_head {
      line-height: 1rem;
  }
  .case_p_block {
      margin-top: 2rem;
      grid-column-gap: 1.2rem;
  }
  .news {
      padding-top: 4.75rem;
  }
  .news_block_case {
      grid-column-gap: 1.2rem;
      grid-row-gap: 2.7rem;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  }
  .buttonp {
      padding-top: 3rem;
      padding-bottom: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .desc {
      padding-bottom: 3rem;
  }
  .buttonp_txt {
      padding-top: 3rem;
  }
  .header.header--order {
      z-index: 3;
  }
  .wrapper {
      width: 28rem;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
  }
  .header__wrap {
      width: 26.5rem;
      padding-top: 1.25rem;
  }
  .header__list {
      position: fixed;
      left: 0px;
      top: 3rem;
      display: none;
      width: 100%;
      height: 95%;
      padding-top: 0rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #000;
      font-size: 2rem;
      line-height: 1.125;
  }
  .header__basket {
      margin-right: 1.5rem;
      padding-top: 0rem;
  }
  .header__item {
      display: block;
      margin-right: 0rem;
      margin-bottom: 1.25rem;
      color: #fff;
      letter-spacing: -0.01em;
  }
  .header__item.header__item--main {
      display: block;
  }
  .header__basket-text {
      font-size: 0.8125rem;
      line-height: 1.8461538461538463;
  }
  .main {
      padding-top: 5rem;
  }
  .main-title {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      border-top-style: none;
      font-size: 3.5rem;
      line-height: 1.2;
      letter-spacing: -0.005em;
  }
  .shop {
      margin-top: 0.5rem;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      font-size: 0.8125rem;
      line-height: 1.125rem;
  }
  .shop__item {
      margin-right: 2rem;
  }
  .preview {
      margin-top: 2.25rem;
      margin-bottom: 1.25rem;
  }
  .desc {
      padding-bottom: 3rem;
  }
  .desc__ad {
      display: none;
  }
  .desc__title {
      max-width: 15rem;
      font-size: 1.75rem;
      line-height: 1.2857142857142858;
  }
  .desc__text {
      margin-top: 0.75rem;
      font-size: 0.8125rem;
      line-height: 1.25;
  }
  .desc__btn {
      min-height: 2.75rem;
      font-size: 1.125rem;
      line-height: 1.1666666666666667;
  }
  .catalog {
      padding-top: 3rem;
      padding-bottom: 0rem;
  }
  .catalog__title {
      margin-bottom: 1.25rem;
      font-size: 0.8125rem;
      line-height: 2.3076923076923075;
  }
  .catalog__list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }
  .catalog__image,
  .catalog__video {
      display: none;
  }
  .catalog__text-group {
      margin-top: 1.25rem;
  }
  .catalog__name {
      max-width: 18rem;
  }
  .catalog__desc {
      font-size: 0.8125rem;
      line-height: 1.5384615384615385;
  }
  .catalog__cost,
  .catalog__soldout {
      margin-top: 0.8rem;
  }
  .bio {
      display: block;
      padding-top: 3rem;
      padding-bottom: 3rem;
  }
  .bio__image-wrap {
      width: auto;
  }
  .bio__desc {
      width: auto;
      margin-top: 1.4rem;
      margin-left: 0px;
      line-height: 1.34rem;
  }
  .bio__text {
      max-width: none;
      font-size: 1.4rem;
      line-height: 1.45;
  }
  .bio__link {
      margin-top: 1.5rem;
  }
  .collection {
      padding-top: 0.5rem;
      padding-bottom: 3.75rem;
  }
  .collection__title {
      font-size: 3rem;
  }
  .collection__cont {
      width: 100%;
      margin-top: 1.75rem;
  }
  .collection__item {
      width: 100%;
  }
  .collection__text-wrap {
      margin-top: 2rem;
  }
  .collection__desc {
      font-size: 2rem;
      line-height: 1.125;
  }
  .collection__text {
      margin-top: 1.25rem;
      padding-top: 0rem;
      font-size: 1rem;
      line-height: 1.5;
  }
  .footer {
      padding-top: 0.5rem;
      padding-bottom: 1.5rem;
      font-size: 0.8125rem;
      line-height: 2.3076923076923075;
  }
  .footer.footer--desc-hide {
      display: block;
  }
  .footer__wrap {
      width: 28rem;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      font-size: 0.8125rem;
  }
  .footer__mail {
      margin-left: 0px;
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -ms-flex-order: -1;
      order: -1;
  }
  .footer__link {
      margin-right: auto;
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
      -ms-flex-order: -1;
      order: -1;
  }
  .basket__name-wrap {
      margin-bottom: 2.5rem;
  }
  .basket__image {
      margin-right: 1.25rem;
  }
  .basket__title {
      max-width: 15rem;
  }
  .basket__footer {
      font-size: 0.875rem;
      line-height: 1.2142857142857142;
      letter-spacing: -0.01em;
  }
  .basket__wrapper {
      width: 100%;
  }
  .basket__cost-group {
      padding-top: 0.6875rem;
      font-size: 1rem;
      line-height: 1.1875;
  }
  .card {
      margin-bottom: 3rem;
  }
  .card__container {
      width: 100%;
  }
  .card__item {
      margin-right: 1rem;
  }
  .card__right {
      width: 100%;
  }
  .card__info {
      margin-top: 0.8125rem;
  }
  .card__title {
      max-width: 20rem;
      margin-bottom: 0.75rem;
      font-size: 1.75rem;
      line-height: 1.2857142857142858;
  }
  .card__desc {
      font-size: 0.8125rem;
      line-height: 1.3846153846153846;
  }
  .card__btn {
      width: 100%;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
  }
  .card__cost-wrap {
      font-size: 1rem;
      line-height: 1.1875;
  }
  .card__track {
      /* padding: 0.3125rem 1rem;
      border: 0.0625rem solid #9a9a9a;
      border-radius: 2.625rem; */
      font-size: 1.2rem;
      font-weight: 800;
  }
  .card__btn-wrap {
      width: 100%;
      margin-bottom: 0rem;
  }
  .card__soldout {
      margin-top: 0.75rem;
  }
  .order {
      margin-top: 10rem;
  }
  .order__title {
      margin-bottom: 1.5rem;
      font-size: 2.25rem;
      line-height: 1.1111111111111112;
  }
  .order__text {
      margin-bottom: 1.25rem;
      font-size: 1rem;
      line-height: 1.5;
  }
  .order__field {
      min-height: 3rem;
  }
  .header__link {
      margin-right: 0rem;
  }
  .order__subtitle {
      margin-bottom: 0rem;
      font-size: 1rem;
      line-height: 1.5;
  }
  .order__desc {
      font-size: 0.8125rem;
      line-height: 1.3846153846153846;
  }
  .order__cb-text {
      font-size: 0.8125rem;
      line-height: 1.3846153846153846;
  }
  .order__btn {
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      font-size: 1.125rem;
      line-height: 1.3333333333333333;
  }
  .basket--order {
      padding: 7rem 0.75rem 1.25rem;
  }
  .basket--order.basket-translate {
      margin-top: -16.1rem;
  }
  .basket__info {
      margin-bottom: 1rem;
  }
  .info {
      padding-top: 2rem;
  }
  .info__text {
      margin-bottom: 1rem;
      font-size: 1.75rem;
      line-height: 1.2857142857142858;
  }
  .info__mail-group {
      margin-bottom: 1.3125rem;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  .info__coop {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
  }
  .info__mail {
      padding: 0.15rem 0;
  }
  .info__mail-text {
      font-size: 1.5rem;
      line-height: 1.2857142857142858;
  }
  .header__btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 2rem;
      padding-top: 0.6875rem;
      padding-bottom: 0.6875rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      cursor: pointer;
  }
  .header__line {
      width: 2.25rem;
      height: 0.125rem;
      padding-right: 0px;
      padding-bottom: 0px;
      background-color: #000;
  }
  .catalog__mobile-img,
  .catalog__video-mob {
      display: block;
      object-fit: cover;
      width: 100%;
  }
  .collection__prev {
      display: block;
      margin-bottom: 2.25rem;
      color: #666;
      font-size: 0.8125rem;
      line-height: 2.3076923076923075;
  }
  .header__list-wrap {
      width: 28rem;
      margin: auto auto 3.75rem;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
  }
  .header__view-btn {
      display: block;
      margin-left: auto;
      color: #666;
      font-size: 0.8125rem;
      line-height: 1.8461538461538463;
      letter-spacing: 0.04em;
      text-decoration: none;
      text-transform: uppercase;
  }
  .order__delivery {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 2rem;
      margin-bottom: 1.25rem;
  }
  .basket__wrapper--order {
      width: 28rem;
      padding-right: 1rem;
      padding-bottom: 8rem;
      padding-left: 1rem;
  }
  .basket__footer--order {
      padding-top: 1rem;
      padding-right: 1rem;
      padding-left: 1rem;
      font-size: 0.875rem;
      line-height: 1.2142857142857142;
      letter-spacing: -0.01em;
  }
  .basket__info--order {
      margin-bottom: 1rem;
  }
  .selector__theme {
      width: 2.8rem;
      height: 1.4rem;
  }
  .footer__wrap--order {
      width: 28rem;
      padding-right: 1.75rem;
      padding-left: 0rem;
      font-size: 0.8125rem;
  }
  /* == add style 16.07.20202 mobile */
  .case {
      padding-top: 1rem;
  }
  .case_box {
      margin-top: 1rem;
      grid-row-gap: 1rem;
  }
  .case_txt {
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.4;
  }
  .case_head {
      font-size: 2.3rem;
      line-height: 1.1;
  }
  .case_p {
      padding-top: 0.5rem;
      padding-bottom: 3.75rem;
  }
  .case_p_head {
      font-size: 0.8125rem;
  }
  .case_p_block {
      margin-top: 1.25rem;
      grid-auto-flow: row;
      grid-row-gap: 2rem;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }
  .case_p_txt {
      max-width: 18rem;
  }
  .case_desc {
      max-width: 18rem;
  }
  .news {
      padding-top: 3rem;
  }
  .news_anhor {
      margin-top: 1rem;
      font-size: 0.8125rem;
      line-height: 1.53;
  }
  .news_block_case {
      margin-top: 2rem;
      grid-column-gap: 0rem;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }
  .buttonp {
      padding-bottom: 3.75rem;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
      width: 100%;
  }
  .header__wrap {
      width: 94%;
  }
  .header__list {
      display: none;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  .main-title {
      font-size: 12vw;
  }
  .collection__cont {
      width: 95%;
  }
  .footer__wrap {
      width: 100%;
  }
  .footer__copyright {
      margin-right: 1rem;
  }
  .footer__mail {
      margin-right: 2.5rem;
  }
  .footer__link {
      margin-left: 0px;
  }
  .footer__selector {
      margin-left: 0px;
  }
  .basket {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
  }
  .basket__image {
      width: 6rem;
      height: 6rem;
  }
  .basket__title {
      max-width: 10rem;
      font-size: 1rem;
  }
  .basket__desc {
      margin-bottom: 0.5rem;
      font-size: 0.75rem;
      line-height: 1.6666666666666667;
  }
  .basket__cost {
      font-size: 0.875rem;
      line-height: 1.2142857142857142;
  }
  .basket__footer {
      padding-right: 0rem;
      padding-left: 0rem;
  }
  .card__container {
      width: 100%;
  }
  .card__item {
      margin-right: 0.25rem;
  }
  .card__right {
      width: 100%;
  }
  .header__list-wrap {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .header__view-btn {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
  }
  .basket__wrapper--order {
      width: 100%;
      padding-right: 0rem;
      padding-left: 0rem;
  }
  .basket__footer--order {
      padding-right: 0rem;
      padding-left: 0rem;
  }
  .div-block-2 {
      margin-left: -0.75rem;
  }
  .footer__wrap--order {
      width: 100%;
      padding-right: 0rem;
  }
}


.per_wrap {
max-width: 50rem;
margin-right: auto;
margin-left: auto;
padding-top: 4rem;
padding-bottom: 4rem;
}

.per_wrap_head {
margin-bottom: 0px;
font-family: 'Helveticaneuecyr roman', sans-serif;
font-size: 1.3rem;
font-weight: 700;
}

.per_wrap_txt {
margin-top: 1rem;
margin-bottom: 0px;
font-family: 'Helveticaneuecyr roman', sans-serif;
color: #727070;
font-size: 0.8rem;
font-weight: 700;
}

.per_box {
padding-top: 2.1rem;
}

.per_heading {
margin-bottom: 0px;
padding-bottom: 2rem;
font-family: 'Helveticaneuecyr roman', sans-serif;
font-size: 1.8rem;
font-weight: 700;
}

@media screen and (max-width: 991px) {
.per_wrap {
  max-width: 37rem;
}
}

@media screen and (max-width: 767px) {
.per_wrap {
  max-width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.per_wrap_head {
  font-size: 1.1rem;
}

.per_wrap_txt {
  margin-top: 0.6rem;
}

.per_box {
  padding-top: 1.7rem;
}

.per_heading {
  padding-bottom: 1.1rem;
  font-size: 1.2rem;
}
}

.info__mail[line] {
  text-decoration: underline;
}